[Desktop Entry]
Name=Obsidian
# Exec=/bin/bash -c "export OBSIDIAN_USE_WAYLAND=1 /opt/Obsidian/obsidian --enable-features=UseOzonePlatform --ozone-platform=wayland %U"
Exec=/opt/Obsidian/obsidian
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
