[submodule "stow_packages/vim/.vim/pack/plugins/start/fzf.vim"]
	path = stow_packages/vim/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "stow_packages/vim/.vim/pack/plugins/start/vim-airline"]
	path = stow_packages/vim/.vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "stow_packages/vim/.vim/pack/plugins/start/nerdtree"]
	path = stow_packages/vim/.vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "stow_packages/vim/.vim/pack/plugins/start/vim-surround"]
	path = stow_packages/vim/.vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "stow_packages/vim/.vim/pack/plugins/start/vim-smooth-scroll"]
	path = stow_packages/vim/.vim/pack/plugins/start/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll
[submodule "stow_packages/vim/.vim/pack/colors/start/gruvbox"]
	path = stow_packages/vim/.vim/pack/colors/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox
[submodule "stow_packages/vim/.vim/pack/syntax/start/vim-indent-guides"]
	path = stow_packages/vim/.vim/pack/syntax/start/vim-indent-guides
	url = https://github.com/preservim/vim-indent-guides
[submodule "stow_packages/vim/.vim/pack/plugins/start/vim-cool"]
	path = stow_packages/vim/.vim/pack/plugins/start/vim-cool
	url = https://github.com/romainl/vim-cool
[submodule "stow_packages/vim/.vim/pack/colors/start/vim-devicons"]
	path = stow_packages/vim/.vim/pack/colors/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "stow_packages/vim/.vim/pack/colors/start/rainbow_parentheses.vim"]
	path = stow_packages/vim/.vim/pack/colors/start/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim
[submodule "stow_packages/vim/.vim/pack/plugins/start/vim-eunuch"]
	path = stow_packages/vim/.vim/pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "stow_packages/vim/.vim/pack/plugins/start/ack.vim"]
	path = stow_packages/vim/.vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "stow_packages/vim/.vim/pack/syntax/start/ale"]
	path = stow_packages/vim/.vim/pack/syntax/start/ale
	url = https://github.com/dense-analysis/ale
