[Desktop Entry]
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Text Editor
#Exec=/usr/bin/code --unity-launch %F
Exec=/usr/bin/code --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto --enable-gpu-rasterization --enable-native-gpu-memory-buffers --enable-features=VaapiVideoDecoder --enable-features=VaapiVideoEncoder --enable-accelerated-video --enable-accelerated-video-decode --enable-accelerated-mjpeg-decode --enable-unsafe-webgpu --enable-zero-copy --enable-raw-draw --enable-oop-rasterization --enable-gpu-compositing --enable-skia-graphite --enable-features=WebRTCPipeWireCapturer,UseSkiaRenderer,VaapiVideoDecoder,CanvasOopRasterization,VaapiVideoEncoder,RawDraw --use-vulkan --enable-gpu-memory-buffer-compositor-resources --unity-launch %F
Icon=vscode
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Name[de]=Neues leeres Fenster
Name[es]=Nueva ventana vacía
Name[fr]=Nouvelle fenêtre vide
Name[it]=Nuova finestra vuota
Name[ja]=新しい空のウィンドウ
Name[ko]=새 빈 창
Name[ru]=Новое пустое окно
Name[zh_CN]=新建空窗口
Name[zh_TW]=開新空視窗
#Exec=/usr/bin/code --new-window %F
Exec=/usr/bin/code --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto --enable-gpu-rasterization --enable-native-gpu-memory-buffers --enable-features=VaapiVideoDecoder --enable-features=VaapiVideoEncoder --enable-accelerated-video --enable-accelerated-video-decode --enable-accelerated-mjpeg-decode --enable-unsafe-webgpu --enable-zero-copy --enable-raw-draw --enable-oop-rasterization --enable-gpu-compositing --enable-skia-graphite --enable-features=WebRTCPipeWireCapturer,UseSkiaRenderer,VaapiVideoDecoder,CanvasOopRasterization,VaapiVideoEncoder,RawDraw --use-vulkan --enable-gpu-memory-buffer-compositor-resources --new-window %F
Icon=vscode
